*.macaroon
*.cert
config.py
config.toml
*.toml
__pycache__/
gateways/__pycache__/
invoice/__pycache__/
pay/__pycache__/
SatSale_API_key
.venv/
.vscode
invoice.db
bin
include
lib
lib64
pyvenv.cfg
share