qrcode==7.3
Flask==1.1.4
flask_cors==3.0.10
MarkupSafe==2.0.1
requests==2.26.0
gunicorn==20.0.4
Pillow==9.0.1
protobuf==3.19.1
flask_restx==0.5.1
Werkzeug==0.16.1
PySocks==1.7.1
toml==0.10.2
bip-utils==2.7.0
base58==2.1.1

# For lightning (optional)
setuptools==50.3.2
lnd-grpc-client==0.3.22
pyln-client==0.10.1
blue_wallet_client==0.0.13
