python_bitcoinrpc==1.0
qrcode==6.1
Flask_SocketIO==5.0.0
Flask==1.1.2
MarkupSafe==1.1.1
requests==2.25.0
gunicorn==20.0.4
eventlet==0.30.2
Pillow==8.01.1
protobuf==3.15.6

# For lightning (optional)
setuptools==50.3.2
lndgrpc==0.2.0
