python_bitcoinrpc==1.0
qrcode==7.3
Flask==1.1.2
MarkupSafe==1.1.1
requests==2.26.0
gunicorn==20.0.4
Pillow==8.01.1
protobuf==3.19.1
flask_restplus==0.13.0
Werkzeug==0.16.1
PySocks==1.7.1
toml==0.10.2

# For lightning (optional)
setuptools==50.3.2
lnd-grpc-client==0.3.22
pyln-client==0.10.1
