<!DOCTYPE HTML>
<html>
<head>
    <title>BTCPyment</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <!-- <script src="{{ url_for('static', filename='server_connection.js') }}"></script> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>


<body>
    <div id="paybox">
        <div id="row" height="50px">
            <div id="left" style="display:inline-block;" height="75px">
                <h1>Donate Bitcoin</h>
            </div>
            <div id="right">
                <a id="logo" target="_blank"><img id="logo" style="padding-top:25px;padding-left:30px;" width="65px" src="https://i.pinimg.com/originals/3a/dd/40/3add4023fa9b435e7da3c09156b88015.png"></a>
                <a id="qrClick" target="_blank"><img class="qr" id="qrImage" style="padding-top:25px;display:none" width="65px" src="https://i.pinimg.com/originals/3a/dd/40/3add4023fa9b435e7da3c09156b88015.png"></a>
            </div>
        </div>

        <div id="paymentForm">
            <center>
                <form id="pay" action='/pay' style="margin:0;padding0;">
                    <h2 style="margin:0;padding0;">Amount:
                    <input style="display:inline" size="4" type="float" name="amount" id="amount" placeholder="USD">
                    </h2>
                    <br>
                    <input style="width:100%" type="submit" value="Donate">
                </form>
            </center>
        </div>

        <div id="paybutton"></div>
    </div>
</body>
</html>
