<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/socket.io-client@3/dist/socket.io.js" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
    		var socket = io();
    		socket.on('connect', function() {
        	socket.emit('my event', {data: 'I\'m connected!'});
    	});
	</script>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<body>

<h1>Payment</h1>

<script type=text/javascript>


</script>

<h1>Pay {{ amount }}</h1>
<p><input type=text size=5 name=amount> +
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>

</body>
</html>
